
name: DBeaver Release - Create Update Site Repo PR

on:
on:
  release:
    types: [created]      # Runs when you create a GitHub release
  pull_request:
    branches: [ main ]    # TODO REMOVE Runs when PR is opened/updated targeting main branch
  workflow_dispatch:      # Runs when you manually click "Run workflow" button

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Build JARs
        run: mvn clean install -P jars

      ##TODO REMOVE 
      - name: Verify JAR signatures
        run: |
          find . -name "*.jar" -type f -exec jarsigner -verify -verbose {} \;